@model WebMarket.Models.Employee

<!DOCTYPE html>
@{
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Детали</title>
</head>
<body>

    <div class="container">
        <h3> Карточка сотрудника </h3>

        <form asp-controller="Employees" asp-action="Save" asp-route-id="@Model.Id" data="@Model">

            <p>Идентификатор: @Model.Id</p>

            <p>
                <label>Фамилия: </label>
                <input type="text" value="@Model.LastName" name="LastName" />
            </p>

            <p>
                <label>Имя: </label>
                <input type="text" value="@Model.FirstName" name="FirstName" />
            </p>

            <p>
                <label>Отчество: </label>
                <input type="text" value="@Model.Patronymic" name="Patronymic" />
            </p>

            <p>
                <label>Возраст: </label>
                <input type="text" value="@Model.Age" name="Age" />
            </p>

            <p>Год рождения: @Model.BirthYear </p>

            <p>
                <input type="submit" value="Отправить" />
            </p>
        </form>

        

        <p>

            <a asp-action="Index">Назад к списку</a>

        </p>
    </div>

</body>
</html>
