@model WebMarket.Models.Employee

<!DOCTYPE html>
@{
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Детали</title>
</head>
<body>

    <div class="container">
        <h3> Карточка сотрудника </h3>

        <form>

            <p>
                <label>Идентификатор:</label> @Model.Id
            </p>

            <p>
                <label>Фамилия:</label> @Model.LastName
            </p>

            <p>
                <label>Имя:</label> @Model.FirstName
            </p>

            <p>
                <label>Отчество:</label> @Model.Patronymic
            </p>

            <p>
                <label>Возраст:</label> @Model.Age
            </p>

            <p>
                <label>Год рождения:</label> @Model.BirthYear
            </p>

        </form>

        <p>

            @if (User.IsInRole("admin"))
            {
                <a asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-danger"> Удалить </a>

                <a asp-action="Edit" asp-route-Id="@Model.Id" class="btn btn-default"> Редактировать </a>                
            }
            <a asp-action="Index" class="btn btn-info">Назад к списку</a>

        </p>
    </div>

</body>
</html>
