@using WebMarketDomain.Entityes.Identity
@model IEnumerable<WebMarket.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h3> Сотрудники </h3>

    <hr />

    <a asp-action="Edit" class="btn btn-primary">Создать</a>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
                <th>Карта сотрудника</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.Age</td>
                    <td><a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">Детали</a></td>

                    <td>
                        @if (User.IsInRole(Role.Administrator))
                        {
                            <a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">
                                <i class="fa fa-edit"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @if (User.IsInRole(Role.Administrator))
                        {
                            <form asp-action="DeleteConfirmed" asp-route-id="@employee.Id">
                                <button type="submit">
                                    <i class="fa fa-trash-o text-danger"> </i>
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <p>

        <a asp-controller="Home" asp-action="Index">Домой</a>

    </p>


</div>